body {
	background-color: #e9ebee;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

a {
	color: #1176b6;
}

a:hover {
	text-decoration: underline;
}

/* header */
header {
	background-color: #1176b6;
	padding: 10px 0;
}

/* logo */
header .logo img {
	width: 22px;
	height: 22px;
}

/* barra de busqueda */
header .buscar form input,
header .buscar form button {
	width: 100%;
	background-color: #ffffff;
	border: none;
	font-size: 12px;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	font-family: inherit;
	color: #6d6d6d;
}

header .buscar form input {
	border-radius: 3px 0 0 3px;
}

header .buscar form button {
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	transition: background-color .2s;
}

header .buscar form button:hover {
	background-color: #099efc;
	color: #ffffff;
}

/* menu */
header .menu {
	padding: 0;
}

header .menu a {
	color: rgba(255, 255, 255, .8);
	text-decoration: none;
	transition: color .1s;
}

header .menu a:hover {
	color: #ffffff;
}

header .menu .imagen {
	display: inline-block;
	width: 22px;
	height: 22px;
	overflow: hidden;
}

header .menu .imagen img {
	border-radius: 100px;
}

/* main */
main {
	padding-top: 20px;
}

/* barra lateral menu */
main .barra-lateral-menu {
	padding-bottom: 10px;
	padding-left: 0;

}

main .barra-lateral-menu nav {
	border-bottom: 1px solid #c7c8ca;
	padding-bottom: 20px;
}

main .barra-lateral-menu nav a {
	display: block;
	padding: 3px;
	font-family: 'Roboto', sans-serif;
	color: #3d3d3d;
}

main .barra-lateral-menu nav a:hover {
	background-color: #f2f2f2;
	text-decoration: none;
}

main .barra-lateral-menu nav a i {
	margin-right: 5px;
}

/* contenido principal */
/* publicar */
main .contenido-principal .publicar {
	margin-bottom: 20px;
}

main .contenido-principal .publicar .foto a {
	width: 60px;
	height: 60px;
	display: inline-block;
	overflow: hidden;
	border-radius: 100px;
	margin-top: 20px;
}

main .contenido-principal .publicar .foto a img {
	width: 100%;
}

main .contenido-principal .publicar form textarea {
	width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 300px;
	border: none;
	padding: 15px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #565656;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
}

main .contenido-principal .publicar form .contenedor-botones {
	padding: 20px 0;
	border-bottom: 1px solid #c7c8ca;
}

main .contenido-principal .publicar form .contenedor-botones a {
	color: #8d8d8d;
	font-size: 16px;
	margin-right: 10px;
}

main .contenido-principal .publicar form .contenedor-botones a:hover {
	color: #3d3d3d;
}

main .contenido-principal .publicar form .contenedor-botones button {
	border: 1px solid #00609c;
	padding: 5px 30px;
	font-size: 14px;
	font-family: "Roboyo", sans-serif;
	background-image: linear-gradient(to bottom, #1a87cd, #1176b6);
	color: #ffffff;
	border-radius: 3px;
	cursor: pointer;
	transition: all 6s;
}

main .contenido-principal .publicar form .contenedor-botones button:hover {
	background-image: linear-gradient(to bottom, #1176b6, #1a87cd);
}

/* publicación */
main .publicacion {
	margin-bottom: 40px;

}

main .publicacion .foto a {
	display: inline-block;
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 100px;
}

main .publicacion .foto img {
	width: 100%;
}

main .publicacion .nombre {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 16px;
	display: inline-block;
	margin-bottom: 10px;
}

main .publicacion .texto {
	background-color: #ffffff;
	color: #3d3c3c;
	font-size: 14px;
	padding: 15px;
	margin-bottom: 15px;
}

main .publicacion .imagen {
	padding: 15px;
	background-color: #ffffff;
	margin-bottom: 15px;
}

main .publicacion .post .caja-botones {
	margin-bottom: 20px;
}

main .publicacion .post .caja-botones button {
	background-color: #1176b6;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 20px;
	display: inline-block;
	font-size: 18px;
	font-weight: 18px;
	border-radius: 3px;
	border: none;
}

main .publicacion .post .caja-botones button:hover {
	background-color: #0d659d;
}


main .publicacion .post .caja-botones p {
	margin-bottom: 0;
	color: #1782c6;
}

/* comentario */
main .publicacion .comentario {
	margin-bottom: 20px;
	padding: 20px;
	border-bottom: 1px solid #cdcdcd;
}

main .publicacion .comentario .foto {
	padding-left: 0;
	margin-right: 15px;
}

main .publicacion .comentario .foto a {
	display: inline-block;
	width: 40px;
	height: 40px;
}

main .publicacion .comentario form textarea {
	background-color: #ffffff;
	border: 1px solid #cbcbcb;
	color: #565656;
	padding: 8px;
	min-height: 40px;
	max-height: 40px;
	min-width: 100%;
	max-width: 100%;
	font-size: 14px;
}

main .publicacion .comentario .respuesta {
	font-size: 14px;
	margin-bottom: 10px;
}

main .publicacion .comentario .me-gusta {
	font-size: 14px;
}